# Exclude everything from root directory
/*

# Re-include everything from the FFTE folder
!/FFTE/

# Exclude any files looking like this
/**/.vscode
/**/*.o
/**/*.csv
/**/run
/**/callgrind.out.*
/**/.devcontainer
/**/deprecated/*
/**/*.ipynb*

# make sure to include any gitignore files
!.gitignore
!README.md